---
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard";
import { getCollection } from "astro:content";
import { getEntry } from "astro:content";
import { render } from "astro:content";

const blogs = await getCollection("blog");

const intro = await getEntry("simple", "intro");
const { Content: Intro } = await render(intro);
---

<Layout title="Welcome to Astro.">
	<main class="max-w-[90%]">
		<div
			class="prose min-w-full my-4 w-full prose-div:w-full text-gruvbox-fg-1"
		>
			<div class="w-full">
				<Intro class="w-full" />
			</div>
		</div>
		<div class="flex flex-col gap-4">
			{
				blogs.map(({ slug, data: { title, date, summary } }) => (
					<a href={`/blogs/${slug}`}>
						<BlogCard title={title} date={date} summary={summary} />
					</a>
				))
			}
		</div>
	</main>
</Layout>
