---
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard";
import Prose from "../components/Prose";

import { getCollection } from "astro:content";
import { getEntry } from "astro:content";
import { render } from "astro:content";
const blogs = await getCollection("blog");

const intro = await getEntry("simple", "intro");
const { Content: Intro } = await render(intro);
---

<Layout title="Antonio's Blog">
	<main class="">
		<Prose>
			<Intro class="w-full" />
		</Prose>
		<div class="flex flex-col gap-4">
			{
				blogs.map(({ slug, data: { title, date, summary } }) => (
					<a href={`/blogs/${slug}`}>
						<BlogCard title={title} date={date} summary={summary} />
					</a>
				))
			}
		</div>
	</main>
</Layout>
