---
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose";
import { Content } from "../components/Me.md";
---

<Layout title="About me">
	<div class="flex justify-center w-full">
		<Prose>
			<Content />
		</Prose>
	</div>
</Layout>
